.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  /* height: 100vh;*/
  background-color: darkslategray;
  color: aquamarine;
}

.editorWrap {
  margin: 1.125rem auto;
}